* {
    margin: 0;
    padding: 0;
}

.html {
    font-size: 25px;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

.navigation-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu {
    margin: 50px;
    padding: 15px;
    background-color: rgba(240, 222, 187, 0.6);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boba-text, .bakery-text {
    float: left;
    padding-right: 35px;
}

.menu.boba-image, .menu.bakery-image {
    max-width: 25%;
    max-height: 15%;
    float: right;
}

li {
    padding-left: 25px;
}

form {
    display: block;
    margin: 0;
}

input, textarea {
    width: 50%;
    margin: 10px auto;
    padding: 12px 20px;
}

.booking-form, .form-format {
    display: flex;
    justify-content: center;
}

[type=submit] {
    background-color: #00273d;
    color: white;
    border: none;
    box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    box-sizing: content-box;
    font-size: 1rem;
}

[type=submit]:hover {
    background-color: rgb(0, 83, 128);
    box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.7);
}