.html {
    font-size: 25px;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

.navigation-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu {
    margin: 50px;
    background-color: rgba(230, 182, 230, 0.6);
    border-radius: 25px;
}